<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fr.here" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />


    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme" >
        <activity
            android:name=".app.BlankActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        </activity>

        <activity android:name="com.fr.here.ui.welcome.widget.MyWelcomeActivity"
            android:theme="@style/WelcomeScreenTheme"/>
        <!--选择相册图片Activity-->
        <activity
            android:name="com.soundcloud.android.crop.support.SelectPictureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity
            android:screenOrientation="portrait"
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            />

        <activity
            android:screenOrientation="portrait"
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            />
    </application>

</manifest>
